* {
  margin: 0;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  height: 100%
}

.container, .header {
  margin-left: 25px;
  margin-top: 12px;
}

.container div {
  display: inline-block;
  margin-right: 12px;
}

.container > .row  > .col {
  border: 1px solid lightgrey;
  padding: 12px;
}